body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #FFFFFF;
}
:root {
  --color-blue: #2196f3;
  --color-gray: #757575;
  --color-blak: #212121;
  --color-white: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width:1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.header a {
  text-decoration: none;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav-list{
  font-style: normal;
  font-weight: 500;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--color-blue);
}

.nav-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  margin-right: 93px;
 color: var(--color-blak);
}

.header-nav-link:hover,
.header-nav-link:focus {
}

.header-mail:focus,
.header-mail:hover { 
}

.header-contact:focus,
.header-contact:hover {
}

.header-nav {
  list-style: none;
  display: flex;
  gap: 50px;
}

.uptitle {
  font-style: normal;
  font-weight: 500;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--color-gray)
}

.web {
  color: var(--color-blue);
}

.header-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.header-contact {
  margin-left: 50px;
  color: var(--color-gray);
}

.hero-section {
 background: #2f303a;
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
}

.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:var(--color-white);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-section-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 32px;
}

.section {
 padding-top: 94px;
 padding-bottom: 94px;
}
.images {
  padding-top: 0px;
 
}

.section-title {
  list-style: none;
  display: flex;

}

.section-subtitle-lead {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-subtitle-text {
  line-height: 1.7142;
  color: var(--color-gray);
}

.images-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  margin-bottom: 50px;
 }

.images-list {
  list-style: none;
  display: flex;
  gap: 30px;
  max-height: 100%;
  height: auto;
}

.team-subtitle {
  list-style: none;
  display: flex;
  gap: 30px;
}

.team-list {
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-radius: 0px 0px 4px 4px;
}

.team-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;

}
.team {
  background: #F5F4FA;
}
.our-team {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-item {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--color-gray);
  margin-top: 10px;
}

.footer {
 background: #2f303a;
 padding-top: 60px;
 padding-bottom: 60px;
 }

.footer-link {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  color: var(--color-white)
}

.address-title {
  list-style: none;
  margin-top: 20px;
}

.address-subtitle {
  line-height: 1.7142;
  text-decoration: none;
  color: var(--color-white)
}
.address-mail {
  text-decoration: none;
  font-style: normal;
  line-height: 1.7142;
  color: rgba(255, 255, 255, 0.6);
}
.address-list {
  text-decoration: none;
  font-style: normal;
  line-height: 1.7142;
  color: rgba(255, 255, 255, 0.6);
}


.address-subtitle:hover,
.address-subtitle:focus {
  color: var(--color-blue);
}

.address-list:focus {

}
.button-title {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button-list:hover,
.button-list:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.button-list {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}

.work-title {
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}
.work-pic {
  display: block;
}
.work-link {
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
} 


.work-link {
  display: block;
}

.work-subtitle {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.work-list {
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-gray);
}

.address-subtitle {
  font-style: normal;
}
